* {
	padding:0px;
	margin:0px;
}
html {
	overflow-x:hidden; /* HIDES THE HORIZONTAL SCROLLBAR */
}
body {
	
}
/* HEADER */
header, footer {
	width:100vw;
	background-color:#34495e;
	font-family:Montserrat, sans-serif;
	color:#ecf0f1;
}
header a {
	color:#ecf0f1;
	text-decoration:none;
}
header #logo {
	text-align:center;
}
header #logo h3 {
	padding-bottom:0.4em;
}
header nav ul {
	padding:0.7em 0em;
	background-color:#2c3e50;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
header nav ul #selected {
	color:#3498db;
}
header nav ul li {
	padding:0em 1em;
	list-style-type:none;
}
/* SECTION */
section {
	font-family:sans-serif;
	margin:auto;
	width:85%;
	padding:1em 0em;
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
}
figure {
	padding:0.5em 0em;
	margin:auto;
	width:45%;
	height:45%;
}
figure img {
	width:100%;
	height:150px;
}
figure:first-of-type img {
	background:linear-gradient(rgba(52, 152, 219, 0.2), rgba(52, 152, 219, 0.7)), 
	url("../img/1.png");
}
figure:nth-of-type(2) img {
	background:linear-gradient(rgba(52, 152, 219, 0.2), rgba(52, 152, 219, 0.7)), 
	url("../img/2.png");
}
figure:nth-of-type(3) img {
	background:linear-gradient(rgba(52, 152, 219, 0.2), rgba(52, 152, 219, 0.7)), 
	url("../img/3.png");
}
figure:nth-of-type(4) img {
	background:linear-gradient(rgba(52, 152, 219, 0.2), rgba(52, 152, 219, 0.7)), 
	url("../img/4.png");
}
figure:last-of-type  img {
	background:linear-gradient(rgba(52, 152, 219, 0.2), rgba(52, 152, 219, 0.7)), 
	url("../img/5.png");
}
figcaption {
	position:relative;
	text-align:center;
	font-size:1.1em;
	left:0.6em;
	bottom:5em;
	color:white;
	font-weight:bold;
	float:left;
}
/* FOOTER */
footer {
	padding:1em 0em;
	clear:both;
}
footer h4 {
	text-align:center;
}



